body {
    width: 55%;
    background: url(../photoes/photo5.jpeg) no-repeat ;
    background-size: 100%;
    -webkit-background-size: 100%;
    backdrop-filter: blur(15px) sepia(90%) opacity(95%);
    padding: 1rem;
    object-fit:cover;
}

.title {
    display: flex;
    justify-content: start;
    color: rgb(129, 4, 4);
}

p {
    width: 100%;
    display: flex;
    justify-content: center;
}

.red_hat_photo {
    width: 200px;
    height: auto;
    border-radius: 10%;
}

.woodcutters_photo {
    width: 200px;
    height: auto;
    border-radius: 10%;
}

.wolf_photo {
    width: 200px;
    height: 170px;
    border-radius: 10%;
    object-fit: cover;
    overflow: hidden;
}
